.watermark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width:50%;
    height:50%;
    opacity: 30%;
    position:relative;
    z-index: -1;
    
}

.heading {
    background-color:rgb(173, 185, 202);
    text-align: center;
    font-family: Arial;
    font-size: 40;
    font-weight:bold;
    padding:1%;
    text-shadow: 1px 1px slategrey;
}

.sidenav {
    height:100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    margin-left:auto;
    background-color:rgb(173, 185, 202);
    overflow-x:hidden;
}

.sidenav a {
    text-align:center;
    padding: 10%;
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-family: Arial;
    display: block;
    
}

.sidenav a:hover {
    background-color: rgb(132, 151, 176);
}

.sidenav a:active {
    background-color: rgb(132, 151, 176);
}




.login_form {
    display: block;
    text-align: center;
    position:static;
    width:50%;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family:'Times New Roman';
    font-size: 20;
    position: absolute;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50%;
  }

input[type=text], input[type=password], input[type="number"] {
    width:inherit;
    padding: 12px 20px;
    margin: 8px 0;
   
    border: 1px solid black;
    box-sizing: border-box;
    background:transparent;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:20;
  }

  ::placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:20px;
    text-align: center; 
  }

.buttons {
    margin: 0 auto;
    display: inline;
    width:inherit;
    position: relative;
}
.left_button, .right_button {
    
    font-size: 20px;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    box-sizing: border-box;
    margin:1px; 
    width:24.5%;
    margin-top:5%;
    font-family: 'Times New Roman', Times, serif;
    
} 


.btn_group {
    width:200px; 
    margin: 0 auto;
    display: inline;
}

.register_button input[type=button] {
    padding: 12px 20px;
    margin:10px;
    width:49%; 
    border: 1px solid black;
    box-sizing:border-box;
    background-color:white;
    border-radius: 8px;
    font-family:'Times New Roman';
    font-size: 20px;
}

.home_div {
    display: block;
    margin-left: 225px;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;

}

.home_div h1 {
    text-align: center; 
    border-bottom: 4px solid black;
    font-family: arial;
    font-weight:lighter;

}

.p_div {
    width:25%;
    margin-left: 1px; 
    margin-right: 50%;

}

.p2 {
    width:25%;
    margin-left: 1px; 
    margin-right: 50%;


}

.img {
    width: 96%;



}



.img img{
    width:50%;
    height: 50%;
    float: right;
    margin-right: 1px;

}

.background {
    z-index:-1;
}
.background img {

z-index: -1;
}


.visit{
    padding: 12px 20px;
    margin:10px;
    width:49%; 
    border: 1px solid black;
    box-sizing:border-box;
    background-color:white;
    border-radius: 8px;
    font-family:'Times New Roman';
    font-size: 20px;
}



.report {
    width: 75%;

    height: 50%;
}
.report input[type="text"], input[type="number"]{
    width: 35%;
    display: inline-block;
    margin-left: 350px;
}

.report input[type="button"]{
    width: 35%;
    display: inline-block;
    padding: 12px 20px;
   
    width:15%; 
    border: 1px solid black;
    box-sizing:border-box;
    background-color:white;
    border-radius: 8px;
    font-family:'Times New Roman';
    font-size: 20px;
}

#cancel {
    float: right;
    
}


.home_div p {
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.overview_tb {
    background-color:pink;
    margin-left: 225px;

}

thead {
    font-family: Arial;
    font-size: 20px; 
    font-weight: bold; 
}

td {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/*  
   The main color is given by (red=173, green=185, blue=202)
 The select color is given by (red=132, green=151, blue=176)
 The title of the HTML page is given by the caption of the figure of the page
in this document.
 Heading should be rendered in Arial size 40, bold
 Menu items should be rendered in plain Arial size 24
 Text should be rendered in Times New Roman size 20
 Table headings are set in Arial size 20, bold
 Table text in Times New Roman size 20 */